
body{
	font-family: 'Lato', san-serif;
}

.uk-logo{
	font-family: 'Lato', san-serif;
}

h1,h2,h3,h4,h5{
	font-family: 'Lato', san-serif;
}

.uk-border-rounded{
	border-radius: 2px;
}

.uk-subnav>*>:first-child{
	text-transform: capitalize;
}

.hm-button-secondary{
	background-color: rgba(30, 135, 240, 0.3);
    color: rgba(30, 135, 240);
    border: 1px solid transparent;
}

.uk-subnav-pill>.uk-active>a {
    border-radius: 2px;
}

.uk-icon-button{
	background:#ffffff;
}

.uk-text-italic{
	font-style: italic;;
}

.uk-dropdown-nav>li>a:before {
   content: " ";
}

.uk-dropdown-nav>li.uk-active>a:before {
   content: "—";
   position: absolute;
   left: 8px;
   color: #1e87f0;
}
